<!DOCTYPE HTML>
<html>
	<head>
		<title>Mindful You</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="/public/assets/css/style.css">

	</head>
	<body class="is-preload">

		<!-- Header -->
		<header>
			<div id="header">
				<br>
				<br>
				<h1>Mindful You</h1>
				<br>
				<br>
				<br>
				<br>
			</div>
		</header>
		<!-- Main -->				
				
				<div class="container login-container">
        			<div class="card">
            			<div class="card-content">
               			 {{{body}}}
            			</div>
        			</div>
   				 </div>
				<div class="box alt container">
					<section class="feature left">
						<i class="image icon solid fa-pen"></i>
						<div class="content">
							<h3>Writing Your Feelings</h3>
							<p>Expressing yourself in writing will allow you to feel better about yourself and situation. Expressing yourself is a form of self-care.</p>
						</div>
					</section>
					<section class="feature right">
						<i class="image icon fa-solid fa-heart"></i>
						<div class="content">
							<h3>Reading What You Wrote</h3>
							<p>Reading the stories and feelings you wrote can help provide perspective on how you felt and allow you to process and collect your thoughts better.</p>
						</div>
					</section>
					<section class="feature left">
						<i class="image icon fa-regular fa-heart"></i>
						<div class="content">
							<h3>Understanding Yourself</h3>
							<p>When you understand yourself better, you are better equip to find the right resources to help you develop the necessary coping skills.</p>
						</div>
					</section>
				</div>
		<!-- Scripts -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

	</body>
</html>